@page
@model PrivacyModel
@{
    ViewData["Title"] = "The Elixr Seal";
}

<div id="about">
    <div id="main-container">
        <h4>@ViewData["Title"]</h4>
        <hr/>
        Use this page to detail your site's privacy policy.
    </div>

    <style>
        #main-container {
            background-color: white;
            padding: 2rem;
            box-shadow: 0 0 2px .5px #B8B8B8;
        }
    </style>
</div>
