<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="utf-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <title>@ViewData["Title"] - ElixrMarket.Web</title>
    <script src="~/lib/jquery/dist/jquery.min.js"></script>
    <script src="~/lib/bootstrap/dist/js/bootstrap.bundle.min.js"></script>
    <script src="https://kit.fontawesome.com/f938e4bcfd.js" crossorigin="anonymous"></script>
    <script src="~/js/site.js" asp-append-version="true"></script>
    <link rel="stylesheet" href="~/lib/bootstrap/dist/css/bootstrap.min.css" />
    <link rel="stylesheet" href="~/css/site.css" />
    <link rel="stylesheet" href="~/lib/snackbar/snackbar.min.css" />
    <script src="~/lib/snackbar/snackbar.min.js"></script>
    @* <script src="https://js.stripe.com/v3/"></script> *@
    <link rel="stylesheet" href="~/lib/bootstrap-multiselect/css/bootstrap-multiselect.min.css" />
    <script src="~/lib/bootstrap-multiselect/js/bootstrap-multiselect.min.js"></script>
    @RenderSection("Styles", required: false)
    <style>
    </style>
</head>
<body>
    <header>
        <nav id="main-nav" class="navbar navbar-expand-sm navbar-light border-bottom  mb-3">
            <div class="container">
                <a class="navbar-brand mr-5" asp-area="" asp-page="/Index">Elixr Marketplace</a>
                <button class="navbar-toggler" type="button" data-toggle="collapse" data-target=".navbar-collapse" aria-controls="navbarSupportedContent"
                        aria-expanded="false" aria-label="Toggle navigation">
                    <span class="navbar-toggler-icon"></span>
                </button>
                <div class="navbar-collapse collapse d-sm-inline-flex flex-sm-row-reverse justify-content-between">
                    <partial name="_MainNavPartial" />
                    <ul class="navbar-nav">
                    </ul>
                </div>
            </div>
        </nav>
    </header>
    <div class="container">
        <main role="main" class="pb-3">
            @RenderBody()
        </main>
    </div>

    <footer class="border-top footer text-muted">
        <div class="container">
            &copy; 2021 - Elixr - <a asp-area="" asp-page="/Privacy">Privacy</a>
        </div>
    </footer>

    <!-- Login -->
    <div class="modal fade" id="exampleModal" tabindex="-1" role="dialog" aria-labelledby="exampleModalLabel" aria-hidden="true">
        <div class="modal-dialog" role="document">
            <div class="modal-content">
                <div class="modal-header">
                    <h5 class="modal-title" id="exampleModalLabel">Modal title</h5>
                    <button type="button" class="close" data-dismiss="modal" aria-label="Close">
                        <span aria-hidden="true">&times;</span>
                    </button>
                </div>
                <div class="modal-body">
                    ...
                </div>
                <div class="modal-footer">
                    <button type="button" class="btn btn-secondary" data-dismiss="modal">Close</button>
                    <button type="button" class="btn btn-primary">Save changes</button>
                </div>
            </div>
        </div>
    </div>

    @RenderSection("Scripts", required: false)
    <script>
        function goToCart() {
            let cart = JSON.parse(localStorage.getItem('cart'));
            if (cart['products'].length == 0) {
                let cartProductIds = cart['products'].map(p => p.id);
            }
            debugger;
            let url = '/cart/?cart=';
            for (let i = 0; i < cart['products'].length; i++) {
                url += cart['products'][i].id + ',';
            }

            window.location.href = url;
        }

        if (location.pathname === '/') {
            document.getElementById('home').classList.add('current');
        }
        else {
            $("a[href*='" + location.pathname + "']").addClass("current");
        }
    </script>
</body>
</html>
