/* Please see documentation at https://docs.microsoft.com/aspnet/core/client-side/bundling-and-minification
for details on configuring this project to bundle and minify static web assets. */

@font-face {
  font-family: brandon-grotesque;
  src: url('./fonts/Brandon_med.otf') format('opentype');
}

:root {
  --primary-color: #C00000;
  --primary-hover: #f44b4b;
  --secondary-color: #efefef;
}

.justify-content-even {
    justify-content: space-evenly;
}

body {
  background-color: #d9d9d9;
  font-family: 'brandon-grotesque', sans-serif;
}

#main-nav {
  background-color: white;
  border-bottom: 1px solid var(--primary-color) !important;
}

#brand-title {
  color: var(--primary-color);
  text-decoration: none !important;
  letter-spacing: .25rem;
  font-size: 2rem;
}

.navbar-brand {
    color: white !important;
}

.btn-outline-secondary {
    color: white;
}

    .btn-outline-secondary:hover {
        background-color: #67c50a;
        color: black;
    }

a.navbar-brand {
  white-space: normal;
  text-align: center;
  word-break: break-all;
}

/* Provide sufficient contrast against white background */
a {
  color: #0366d6;
}

.modal-content {
  border-radius: 0;
}

.btn {
  border-radius: 0 !important;
}

.btn-main {
  color: #fff !important;
  background-color: var(--primary-color);
  border-color: var(--primary-color);
}

.btn-main:hover {
  color: white;
  background-color: var(--primary-hover);
  border-color: var(--primary-color);
}

.btn-secondary {
  color: var(--primary-color);
  background-color: var(--secondary-color);
  border-color: var(--secondary-color);
  border-radius: 0 !important;
}

.btn-secondary:hover {
  color: var(--primary-color);
  background-color: #fcfcfc;
  border-color: var(--primary-color);
}



.form-control {
  border-radius: 0 !important;
}

.form-control:focus {
  box-shadow: none !important;
  border: 1px solid var(--primary-color);
}

.dropdown-toggle {
  border-radius: 0 !important;
}

.dropdown-toggle:focus {
  box-shadow: none !important;
  border: 1px solid var(--primary-color);
}

.dropdown-item.active {
  color: var(--primary-color);
  background-color:#e5e5e5;
}

.dropdown-item:active {
  color: black;
  background-color:#e5e5e5;
}

.dropdown-menu {
  border-radius: 0;
  border-top: none;
}

.nav-pills .nav-link.active, .nav-pills .show > .nav-link {
  color: #fff;
  background-color: var(--primary-color);
  border-color: var(--primary-color);
}

/* Sticky footer styles
-------------------------------------------------- */
html {
  font-size: 14px;
}
@media (min-width: 768px) {
  html {
    font-size: 16px;
  }
}

.border-top {
  border-top: 1px solid #e5e5e5;
}
.border-bottom {
  border-bottom: 1px solid #e5e5e5;
}

.box-shadow {
  box-shadow: 0 .25rem .75rem rgba(0, 0, 0, .05);
}

button.accept-policy {
  font-size: 1rem;
  line-height: inherit;
}

/* Sticky footer styles
-------------------------------------------------- */
html {
  position: relative;
  min-height: 100%;
}

body {
  /* Margin bottom by footer height */
  margin-bottom: 60px;
}
.footer {
  position: absolute;
  bottom: 0;
  width: 100%;
  white-space: nowrap;
  line-height: 60px; /* Vertically center the text there */
}
